<div class="container-fluid">
    <div class="row upper-header">
        <div class="col-12 d-flex uh-2 align-items-center justify-content-between">
            <div class="image-container">
                <img src="../../../assets/logo 1.png" class="w-100 h-100" alt="">
            </div>
            <div class="contact-details d-flex flex-wrap justify-content-center">
                <div class="d-flex align-items-center" style="gap: 1.25rem">
                    <div class="icon d-flex">
                        <img src="../../../assets/call1.png" class="h-100 w-100" alt="">
                    </div>
                    <p class="m-0 text">1234 123 1234</p>
                </div>
                <div class="d-flex align-items-center" style="gap: 1.25rem">
                    <div class="icon d-flex" style="width: 1.4375rem;
                    height: 0.92413rem">
                        <img src="../../../assets/msg1.png" class="h-100 w-100" alt="">
                    </div>
                    <p class="m-0 text">info@solarinnovatio.com</p>
                </div>
                <button class="contact-us-btn">Contact us</button>
            </div>
        </div>
    </div>

    <div class="row lower-header">
        <div class="col-12 navbar d-flex">
            <a href="" class="navbar-item" *ngFor="let item of navbarItems">{{item}}</a>
        </div>
    </div>
</div>