<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center container-2" style="gap: 11.25rem;">
        <div class="left-container d-flex flex-column" style="gap:1.06rem">
            <h2>Subscribe for Newsletter</h2>
            <p class="m-0">Leo dui fermentum tristique urna tellus eget amet aliquam. Id vitae orci maecenas tortor odio
            </p>
        </div>
        <div class="right-container">
            <div class="input-box d-flex align-items-center">
                <input type="text" class="h-100 w-100" placeholder="Inserisci la tua email">
                <div class="holder d-flex align-items-center justify-content-center" style="width: 2.4375rem;
                height: 2.4375rem;border-radius: 30px; background: var(--green-color)">
                    <i class="bi bi-send-fill"></i>
                </div>
            </div>
        </div>
    </div>
</div>