<app-header></app-header>
<div class="container-fluid main-banner-container p-0">
    <div class="row p-0 h-100 d-flex align-items-center justify-content-center">
        <img src="../assets/mainbanner.png" class="w-100 h-100 p-0" alt="">
        <div class="main-heading d-flex flex-column align-items-center justify-content-center">
            <h2>Il tuo accesso al sole</h2>
            <h3 class="text-center">Sistemi fotovoltaici intelligenti ad uso residenziale, anche in assenza di tetto. La tua fonte
                d'energia, gratuita e sostenibile</h3>
        </div>
    </div>
</div>
<app-testimonials></app-testimonials>
<app-section5></app-section5>
<app-faqs></app-faqs>
<app-contact-us></app-contact-us>
<app-newsletter></app-newsletter>
<app-footer></app-footer>