<div class="container-fluid p-5">
    <div class="row d-flex justify-content-center mt-2">
        <h2 class="main-heading text-center">Frequently Asked Questions</h2>
        <img src="../../../assets/Vector 10.png" alt=""
            style="width: 8.75rem; margin-top: 1.87rem; margin-bottom: 1.63rem;">
    </div>

    <div class="row p-5">
        <ul>
            <li *ngFor="let item of [1,2,3,4]">
                <input type="checkbox" checked>
                <h2 style="margin-left: 1.79rem;">Dove si monta S.I.R.E.?</h2>
                <p>S.I.R.E. può essere montato come una tenda sul balcone o come pensilina sulla vetrina, porta,
                    finestra </p>
            </li>
        </ul>
    </div>
</div>