.container-fluid {
    height: 31.375rem;
    background-color: #4D4D4D;
    /* background-image: url('../../../assets/bg-pattern.png');
    background-repeat: repeat; */
    position: relative;
    overflow: hidden
}

/* .bg-pattern{
    width: 5.54163rem;
    height: 4.65188rem;
    opacity: 0.029999999329447746;
} */

.pattern {
    background-image: url('../../../assets/bg-pattern.png');
    background-repeat: repeat;
    opacity: 0.03;
    position: relative;
}

.row {
    position: absolute;
    height: 100%;
    top: 0px;
}

.section-1 p {
    font-size: 1rem;
    line-height: 146.023%;
    color: #fff;
}

.section-1 {
    gap: 0.65rem;
}


ul {
    list-style-type: none;
}

ul li,
.item-text {
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 81.023%;
    opacity: 0.800000011920929;
    margin-bottom: 1.25rem;
}

.item-text {
    line-height: 133.523%;
}

h5 {
    color: var(--ffffff, #FFF);
    font-size: 1rem;
    font-weight: 600;
    line-height: 95.523%;
    margin-bottom: 1.59rem;
}

i {
    color: #fff;
    font-size: 1.4375rem;
    ;
}


@media(max-width:764px) {
    .row {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .section-1 {
        align-items: center !important;
        text-align: center;
    }

    .section-2 {
        justify-content: start !important;
    }

    .section-2 li,
    .section-3 li,
    .section-4 span,
    .section-4 i {
        font-size: 12px !important;
        margin-bottom: 5px !important;
    }

    .section-3 {
        margin: 0px !important;
        justify-content: start !important;
    }

    .section-4 {
        margin: 0px !important;
        justify-content: start !important;
    }

    .frey {
        width: 100% !important;
    }


    h5 {
        margin-bottom: 5px !important;
    }
}